<nav class="flex items-center justify-between flex-wrap py-8 max-w-3xl mx-auto">
    <div class="antialiased">
        <a href="/" class="text-cyan-700 block lg:inline-block mr-12 uppercase text-base">{{ settings:site_name }}</a>
    </div>
    <div class="w-full lg:w-auto lg:flex items-center">
        {{ nav }}
        <a href="{{ url }}" class="block mt-4 lg:inline-block text-cyan-700 border-b-2 border-cyan-700 border-opacity-0 hover:text-cyan-900 hover:border-b-2 hover:border-cyan-900 lg:mt-0 mr-12 {{ is_current || is_parent ?= 'font-bold text-cyan-900 border-b-2 border-cyan-900 border-opacity-100' }}">
            {{ title }}
        </a>
        {{ /nav }}
    </div>
</nav>
