<nav class="flex items-center justify-between flex-wrap py-10 max-w-3xl mx-auto">
    <div class="text-md antialiased font-medium">
        <a href="/" class="block text-xl lg:inline-block mr-12 font-light">{{ settings:site_name }}</a>
    </div>
    <div class="w-full lg:w-auto lg:flex items-center">
        {{ nav }}
        <a href="{{ url }}" class="block {{ is_current || is_parent ?= 'font-medium text-gray-800' }} mt-4 lg:inline-block text-gray-600 hover:text-gray-800 lg:mt-0 mr-12">
            {{ title }}
        </a>
        {{ /nav }}
    </div>
</nav>
