<div class="max-w-3xl mx-auto relative pt-[104px] mb-20">
    {{ partial:office }}
    <h1 class="text-[40px] leading-[44.5px] text-cyan-900 max-w-2xl mb-4">
        {{ content | raw }}
    </h1>
    <button class="bg-cyan-100 text-cyan-800 py-2 px-4 rounded-xl">More Info <svg class="fill-cyan-800 inline-block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 16.172L18.364 10.808L19.778 12.222L12 20L4.222 12.222L5.636 10.808L11 16.172V4H13V16.172Z"/>
        </svg>
        </button>
</div>

<div class="max-w-3xl mx-auto mb-32">
    <h2>Latest Notes</h2>
    {{ collection:notes limit="5" as="notes" }}
        {{ if no_results }}
            <h2 class="text-3xl italic tracking-tight">Nothing here.</h2>
        {{ /if }}

        {{ notes }}
            <article class="mb-12">
                <h2 class="mb-4">
                    <a href="{{ url }}" class="text-2xl hover:text-teal tracking-tight leading-tight font-bold">
                        {{ title | widont }}
                    </a>
                </h2>
                <p class="text-gray-600 max-w-xl">
                    <time datetime="{{ date iso_format="YYYY-MM-DD" }}" class="text-gray-800 text-sm uppercase tracking-widest font-medium">{{ date }}</time> &mdash;
                    {{ excerpt ? excerpt | widont : content | strip_tags | safe_truncate:160:...}}
                </p>
            </article>
        {{ /notes }}
    {{ /collection:notes }}
</div>
