<div class="max-w-3xl mx-auto relative py-16 lg:pt-40 lg:pb-32">
    {{ partial:office }}
    <h1>
        {{ content }}
    </h1>
</div>

<div class="max-w-3xl mx-auto mb-32">
    {{ collection:articles limit="5" as="articles" }}
        {{ if no_results }}
            <h2 class="text-3xl italic tracking-tight">Feel the rhythm! Feel the rhyme! Get on up, it's writing time! Cool writings!</h2>
        {{ /if }}

        {{ articles }}
            <article class="mb-16">
                <h2 class="mb-4">
                    <a href="{{ url }}" class="text-2xl hover:text-teal tracking-tight leading-tight font-bold">
                        {{ title | widont }}
                    </a>
                </h2>
                <p class="text-gray-600 max-w-xl">
                    <time datetime="{{ date iso_format="YYYY-MM-DD" }}" class="text-gray-800 text-sm uppercase tracking-widest font-medium">{{ date }}</time> &mdash;
                    {{ excerpt ? excerpt | widont : content | strip_tags | safe_truncate:160:...}}
                </p>
            </article>
        {{ /articles }}
    {{ /collection:articles }}
</div>
