<div class="max-w-4xl mx-auto relative mt-16 content">
    <article class="max-w-2xl lg:pb-32">
        <p class="text-sm font-light mb-2 tracking-widest">
            {{ date format="j M, Y" }}
        </p>
        <h1>{{ title }}</h1>
        <p class="mb-8">Published
            {{ if topics }}
                in {{ topics }}<a href="{{ url }}" class="text-teal-light no-underline hover:text-white">{{ title }}</a>{{ unless last }}, {{ /unless }}{{ /topics }}
            {{ /if }}
        </p>
        <div class="content">
            {{ content | widont }}
        </div>
    </article>
</div>
